---
---

@import "{{ site.theme }}";

.site-title::before {
	content: url("https://raw.githubusercontent.com/ArthurSrz/datamime/main/logo_datamime.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}
